.wrap{
    width: 120px;
    margin: 20px auto;
}
.menu {
    margin: 30px;
    padding: 10px;
}
.menu-item{
    width: 18px;
    height: 38px;
    /*outline: 1px solid;*/
    list-style: none;
    position: relative;
   background-image: url("../rasmlar/06.jpg");
    background-repeat: no-repeat;
    background-position: left top;
}